<div class="page-header">
    <h1>{{main.username}}'s Profile</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Course Name</th>
      <th>Course Title</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="course in semester.studentCourses" ng-show="main.student">
      <td>{{main.user.username}}</td>
      <td>{{main.user.email}}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.title }}</td>
      <td>
      <a href="/viewCourse/{{ course._id }}">
          <button type="button" class="btn btn-primary">View</button>
      </a>
      </td>
    </tr>
    <tr ng-repeat="course in semester.facultyCourses" ng-show="main.faculty">
      <td>{{main.user.username}}</td>
      <td>{{main.user.email}}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.title }}</td>
      <td>
      <a href="/viewCourse/{{ course._id }}">
          <button type="button" class="btn btn-primary">View</button>
      </a>
      </td>
    </tr>
  </tbody>
</table>