<h4>Turnin an assignment</h4>
<div class="row">

    <div class="col-md-9">
        <form ng-submit="Submit();">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Assignment</label>
                    <div class="input-group">
                        <select class="form-control" ng-model="assignmentData.assignment">
                            <option ng-repeat="assignmentDict in student.studentAssignments" value={{assignmentDict.assignment}}>{{assignmentDict.assignment.name}}- {{assignmentDict.courseName}}</option>
                </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type='file' file-model="file.upload" id='file' name='myfile' ng-disabled="uploading" onchange="angular.element(this).scope().fileChanged(this.files)">
                    </div>
                </div>
                <p>should be less than 10MB</p>
                <p>File Size: {{student.filesize}} bytes</p>
                <div class="form-group">
                    <div class="input-group">
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br>

</div>
<div class="col-md-12">
    <b>Preview:</b><br /><br>
    <i ng-hide="thumbnail">No file choosed</i>
    <iframe ng-src={{thumbnail.dataUrl}} style="width:100%; height:1000px;" frameborder="0"></iframe>
</div>
<div class="row show-hide-message" ng-show="student.succMsg">
    <div class="alert alert-success">
        {{ student.succMsg }}
    </div>
</div>
<br>
<div class="row show-hide-message" ng-show="student.errorMsg">
    <div class="alert alert-danger">
        {{ student.errorMsg }}
    </div>
</div>