<!-- Heading -->
<div class="row text-center">
    <div>
        <h3 class="section-subheading text-muted">View Submissions</h3>
    </div>
</div>
<!-- Heading -->

<br>


<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="course in student.studentCourses">
            <td>
                <button ng-click="submission($index, course)">
                        <span ng-bind="dayDataCollapse[$index] ? '-' : '+'"></span>
                    </button>
            </td>
            <td>{{course.title}}</td>
            <td>{{course.name}}</td>
        </tr>
        <tr ng-repeat-end ng-show="dayDataCollapse[$index]">
            <td></td>
            <td colspan="6">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>File</th>
                            <th>Size</th>
                            <th>Time Submitted</th>
                            <th>Time Due</th>
                            <th>Status</th>
                            <th>Comments</th>
                            <th>Marks</th>
                            <th>Validation</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'color-red': submission.status === 'Late'}" ng-repeat="submission in courseSubmissions">
                            <td>{{submission.assignment}}</td>
                            <td>{{submission.fileName}}</td>
                            <td>{{submission.size}}</td>
                            <td>{{submission.submissionDate}}</td>
                            <td>{{submission.dueDate}}</td>
                            <td>{{submission.status}}</td>
                            <th>{{submission.marksSecured}}</th>
                            <th>{{submission.comments}}</th>
                            <td ng-class="{'color-orange':submission.statusString === 'Old Submission'}">{{submission.statusString}}</td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="downloadAssignment($index,submission);">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</div>
<script data-require="angular.js@1.2.28" data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular.js"></script>
<script data-require="angular-resource@1.2.28" data-semver="1.2.28" src="http://code.angularjs.org/1.2.28/angular-resource.js"></script>
<script src="script.js"></script>


<br>
<div class="row show-hide-message " ng-show="faculty.succMsg ">
    <div class="alert alert-success ">
        {{ faculty.succMsg }}
    </div>
</div>
<br>
<div class="row show-hide-message " ng-show="faculty.errorMsg ">
    <div class="alert alert-danger ">
        {{ faculty.errorMsg }}
    </div>
</div>
<style>
    .color-red {
        color: red;
    }
    
    .color-green {
        color: green;
    }
    
    .color-orange {
        color: orange;
    }
</style>