<!-- Heading -->
<div>
    <div align="center">
        <h3 align="center" class="section-subheading text-muted">This page allows you to add semesters.</h3>
    </div>
</div>
<hr/>

<div class="panel-body">
    <div class="col-md-3 col-lg-3 " align="center">
        <div class="row show-hide-message" ng-show="admin.succMsg">
            <div class="alert alert-success">
                {{ admin.succMsg }}
            </div>
        </div>
        <br>
        <div class="row show-hide-message" ng-show="admin.errorMsg">
            <div class="alert alert-danger">
                {{ admin.errorMsg }}
            </div>
        </div>
    </div>

    <div class=" col-md-9 col-lg-8 ">
        <div class="row">
            <form ng-submit="admin.addSemester(semData);">
                <div class="col-lg-6">
                    <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                    <div class="form-group">
                        <label>Semester</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="semester" placeholder="FALL 2017" required ng-model="admin.semData.semTitle">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <label>Start Date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" name="startDate" placeholder="MM/DD/YYYY" required ng-model="admin.semData.startDate">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <label>End Date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" name="endDate" placeholder="MM/DD/YYYY" required ng-model="admin.semData.endDate">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Add Semester</button>
                </div>
            </form>
        </div>

    </div>