<div class="container">
    <div class="row">
        <form ng-submit="semester.addCourse(courseData);">
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label>Course Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="title" placeholder="CSCE 604" required ng-model = "semester.courseData.title">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label>Course Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" placeholder="Programming Language Design" required ng-model = "semester.courseData.name">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label>Semester</label>
                    <div class="input-group">
                    <select class="form-control" ng-model="semester.courseData.semester" ng-options="sem.title for sem in semester.sems">
                        <option value=""></option>
                    </select>
                        <!-- <select class="form-control" ng-model="semester.courseData.semester">
                            <option ng-repeat="sem in semester.sems" value="{{ sem }}">{{ sem.title }}</option>
                        </select> -->
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                
                <button class="btn btn-primary" type="submit">Add Course</button>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row show-hide-message" ng-show="semester.succMsg">
    <div class="alert alert-success">
        {{ semester.succMsg }}
    </div>
</div>
<br>
<div class="row show-hide-message" ng-show="semester.errorMsg">
    <div class="alert alert-danger">
        {{ semester.errorMsg }}
    </div>
</div>