<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-12 personal-info">
            <form class="form-horizontal" role="form" ng-submit="admin.updateUser(admin.userData);">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Net Id:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.netId" name="netId">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Internal Username:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">UIN:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.uin">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Role:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.permission">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Official Name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Major:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.major">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Classification:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="admin.userData.classification">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>