<!-- Heading -->
<div class="row text-center">
    <div>
        <h3 class="section-subheading text-muted">Edit student profile</h3>
    </div>
</div>

<!-- User admin Table -->
<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Student admin</strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>UIN</th>
        </tr>
        <tr ng-repeat="person in students">
            <td>{{ person.name }}</td>
            <td>{{ person.username }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.uin }}</td>
            <td>
                <!-- Edit Button -->
                <a href="/edit/{{ person._id }}">
                    <button type="button" ng-show="admin.editAccess" class="btn btn-primary">Edit</button>
                </a>
                <!-- Delete Button -->
                <button type="button" ng-click="admin.deleteUser(person.username);" ng-show="admin.deleteAccess" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <!-- End: Table -->
    </table>
</div>

<hr>
<br>
<div class="row show-hide-message" ng-show="admin.succMsg">
    <div class="alert alert-success">
        {{ admin.succMsg }}
    </div>
</div>
<br>
<div class="row show-hide-message" ng-show="admin.errorMsg">
    <div class="alert alert-danger">
        {{ admin.errorMsg }}
    </div>
</div>