<table class="table table-bordered table-responsive">
    <tbody>
        <tr>
            <td>
                <label>Course Title: </label> 
            </td>
            <td>
                <label>{{ semester.currentCourse.title }}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Course Name: </label>
            </td>
            <td>
                <label>{{ semester.currentCourse.name }}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Semester: </label>
            </td>
            <td>
                <label>{{ semester.currentCourse.semester.title }}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Start Date: </label>
            </td>
            <td>
                <label>{{ semester.currentCourse.semester.startDate }}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>End Date: </label>
            </td>
            <td>
                <label>{{ semester.currentCourse.semester.endDate }}</label>
            </td>
        </tr>
    </tbody>
</table>

<br>
<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Assignment Management</strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr>
            <th>Course</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        <tr ng-repeat="sem in semester.courseAssignments">
            <td>{{ sem.course.title }}</td>
            <td>{{ sem.name }}</td>
            <td>{{ sem.startDate }}</td>
            <td>{{ sem.endDate }}</td>
            <td ng-show="main.isLoggedIn && main.student">
                <input class="btn btn-default btn-file" type = "file" file-model = "myFile"/>
            </td>
            <td ng-show="main.isLoggedIn && main.student">
                <button class="btn btn-default btn-file" ng-click = "semester.uploadAssignment(sem)">Upload</button>
            </td>
        </tr>
        <!-- End: Table -->
    </table>
</div>
<br>
<a href="/newAssignment">
    <button type="button" class="btn btn-primary" ng-show="main.isLoggedIn && main.faculty">Create Assignment</button>
</a>

<!-- Custom Message -->
<div class="row show-hide-message" ng-show="edit.successMsg || edit.errorMsg ">
    <div ng-class="alert">{{ edit.successMsg || edit.errorMsg }}</div>
</div>
<!-- Custom Message -->

<br>