<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Assignment Management</h2>
        <h3 class="section-subheading text-muted">Hello <strong>{{ main.username }}, </strong>This page allows you to view assignments.</h3>
    </div>
</div>
<!-- Heading -->

<br>

<!-- Loading Icon (Bootstrap) -->
<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon (Bootstrap) -->

<div class="container">
<div class="row">
<form>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Semester</label>
                    <div class="input-group">
                        <select ng-change="semester.getCoursesForSem(data);" class="form-control" ng-model="semester.data.semester" ng-options="sem.title for sem in semester.sems">
                            <option value=""></option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
            </div>
</form>
</div>

<br/>

    <div class="row">
        <form>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Course</label>
                    <div class="input-group">
                        <select ng-change="semester.getAssignmentsForCourse(assignmentData);" class="form-control" ng-model="semester.assignmentData.course" ng-options="course.title for course in semester.courses">
                            <option value=""></option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<!-- User Management Table -->
<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>Assignment Management</strong>
    </div>
    <!-- Start: Table -->

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>Due Date</th>
        </tr>
        <tr ng-repeat="assignment in semester.assignmentsForCourse">
            <td>{{ assignment.name }}</td>
            <td>{{ assignment.startDate }}</td>
            <td>{{ assignment.dueDate }}</td>
            <td>
                <form ng-submit="Submit();" ng-show = 'main.student'>
                <label class="btn btn-success">
                    Browse
                    <input type='file' file-model="file.upload" name='myfile' ng-disabled="uploading" style="display:none;">
                </label>
                    <button class="btn btn-primary">Upload</button>
                </form>
            </td>
        </tr>
        <!-- End: Table -->
    </table>
</div>
<!-- User Management Table -->
<!-- Custom Message -->
<div ng-show="message">
    <div ng-class="alert">{{ message }}</div>
</div>
<!-- Custom Message -->

<br>
<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="sem.showMoreError">
    <div class="alert alert-danger">{{ sem.showMoreError }}</div>
</div>
<!-- Custom Error Message -->